.main{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h1{
    margin-top: 5vh;
    font-size: 7vmin;
    color: white;
}
.game{
    margin-top: 10vh;
    margin-left: 31.5%;
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.btn{
    height: 20vh;
    width: 12vw;
   border-radius: 1rem;
   border-style: none;
   box-shadow: 6px 6px 1px 0px rgba(0,0,0,0.5);
   font-size: 8vmin;
   background-color: whitesmoke;
   color: #3c6363;
}
.reset{
    height: 5vh;
    width: 7vw;
    margin-top: 8vh;
    border-radius: 0.5rem;
    border-style: none;
    box-shadow: 6px 6px 1px 0px rgba(0,0,0,0.5);
    background-color: white;
    color: #3c6363;
    font-size:0.9rem;
  margin-left:2%;
}